In [5]:
from math import *
import mysql.connector

def calculate_similarity(user):
    #print(user)
    userprofile=[user[5],user[6],user[7]]
    #print(userprofile)
    mydb = mysql.connector.connect(host="localhost", user="root", passwd="", database="bhoklagyo")
    mycursor = mydb.cursor()
    mycursor.execute("SELECT * FROM product")
    myresult = mycursor.fetchall()
    length=len(myresult)
    
    mydb2 = mysql.connector.connect(host="localhost", user="root", passwd="", database="bhoklagyo")
    mycursor2 = mydb2.cursor()
    
#calculation of similarity  
    for x in range(length):
        itemprofile=[]
        item=myresult[x]
        itemprofile=[item[5],item[6],item[7]]
        #print("\n")
        #print("User Profile = ",userprofile)
        #print("Item Profile = ",itemprofile)
        sumxx=0.0
        sumyy=0.0
        sumxy=0.0
        for i in range(3):
            sumxx+=userprofile[i]**2
        for j in range(3):
            sumyy+=itemprofile[j]**2
        for k in range(3):
            sumxy+=userprofile[k]*itemprofile[k]
        similarity=sumxy/sqrt(sumxx*sumyy)
        #print("Similarity of user and " + item[2] + " is " + str(similarity))
        sql = "INSERT INTO recom_details (item_name, similarity, price, photo) VALUES (%s, %s, %s, %s)"
        val = (item[2], similarity,item[3],item[4])
        mycursor2.execute(sql, val)
        mydb2.commit()
        
    sql2 = "SELECT * FROM recom_details ORDER BY similarity DESC"
    mycursor2.execute(sql2)
    myresult2 = mycursor2.fetchall()
    
    print(f"\nFor user " + user[2] + " we recommend the following food items : \n")
    print_item=[]
    for y in range(len(myresult)):
        print_item=myresult2[y]
        print(print_item[0])
        print("\n")
    

        
        
        
        
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="",
  database="bhoklagyo"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM current_logged_user")

myresult = mycursor.fetchall()

user = myresult[0]

calculate_similarity(user)

IndexError: list index out of range

In [1]:
import mysql.connector
mydb3 = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="",
  database="bhoklagyo"
)
mycursor3 = mydb3.cursor()
sqldelete = "DELETE FROM recom_details"
mycursor3.execute(sqldelete)

mydb3.commit()

DatabaseError: 2003 (HY000): Can't connect to MySQL server on 'localhost' (10061)